	<!-- Toggling Hamburger -->
	<div id="toggle">
		<!-- Hamburger bars are styled divs -->
		<div class="tophambar"></div>
		<div class="midhambar"></div>
		<div class="bothambar"></div>
	</div>

	<!-- /Toggling Hamburger -->

	<!-- Menu -->
	<div id="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/findme">Find Me</a></li>
		</ul>
	</div>

<script>

	$("#toggle").click(function() {
 	 $(this).toggleClass("on");
 	 $("#menu").slideToggle();
});

</script>
