<nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header">
  <!-- Hamburger menu collapse button -->
    <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target="#example-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="#">Guo AI</a>
  </div>

  <!-- The hamburber menu itself -->
  <div class="collapse navbar-collapse" id="example-navbar-collapse">
    <ul class="nav navbar-nav">

      <li class="active"><a href="/about">About</a></li>
      <li><a href="#">Find Me</a></li>
      
    </ul>
  </div>
  
</nav>