<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/header.ejs %>
</head>

<body>
  	<nav class="navbar">
  		
   		<a class="navbar-left" id="pagetitle" href="#">Find Me</a>
   		
   		<div>
	   		<ul class="logos-list navbar-right">
	   			<li><a href="https://github.com/theguoheng"><img class="logos" src="images/GitHub-Mark-Light.png"></a></li>
	   			<li><a href="https://twitter.com/theguoheng"><img class="logos" src="images/twitter_logo.png"></a></li>
	   		</ul>
   		</div>
  	</nav>	

  	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1">
				<% include ../views/partials/navigation.ejs%>
			</div>
		</div>
	</div>

</body>

</html>