<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/header.ejs %>
</head>

<body>
  	<nav class="navbar">
  		
   		<a class="navbar-left" id="pagetitle" href="#">Guo Bot</a>
   		
   		<div>
	   		<ul class="logos-list navbar-right">
	   			<li><a href="https://github.com/theguoheng"><img class="logos" src="images/GitHub-Mark-Light.png"></a></li>
	   			<li><a href="https://twitter.com/theguoheng"><img class="logos" src="images/twitter_logo.png"></a></li>
	   		</ul>
   		</div>
  	</nav>	

	<div class="container-fluid">
		<div class="row">
		<!-- Insert components in grid within this div -->

			<!-- Navigation partial -->
			<div class="col-md-1">
				<% include ../views/partials/navigation.ejs %>
			</div>

			<!-- Empty div to keep content in center -->
			<div class="col-md-1"></div>

			<!-- Text field tester -->
			<div class="col-md-8">
				<div class="container-fluid" id="container-1">

					<h2 class="question">Say something to Guo Bot</h2>

					<div class="col-xs-10">
						<input type="text" class="form-control" id="answer-1" placeholder="Ask me something.">
					</div>

					<div class="col-xs-2">
						<button type="submit" class="btn btn-default" id="enter-1">Enter</button>
					</div>
				</div>

				<div class="container-fluid" id="container-2">

					<h2 class="question">Bot's Response: </h2>

					<div class="col-xs-10">
						<input type="text" class="form-control" id="answer-2" placeholder="Ask me something.">
					</div>

					<div class="col-xs-2">
						<button type="submit" class="btn btn-default" id="enter-2">Enter</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="scripts/witapi.js"></script>


</html>