<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/header.ejs %>
</head>
<body>
	<% include ../views/partials/navigation.ejs %>

	<div class="jumbotron text-center">
		<div class="container">
			<h1> Type your name to begin. </h1>
		</div>
	</div>
</body>
</html>