<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/header.ejs %>
</head>

<body>
  		<nav class="navbar" style="background-color: #009688;">
   			<a class="navbar-brand" href="#">Guo Bot</a>
  		</nav>
	

	<div class="container-fluid">
		<div class="row">
		<!-- Insert components in grid within this div -->

			<!-- Navigation partial -->
			<div class="col-md-1">
				<% include ../views/partials/navigation.ejs %>
			</div>

			<!-- Empty div to keep content in center -->
			<div class="col-md-2"></div>

			<!-- Text field tester -->
			<div class="col-md-8">

				<h2 class="question">Say something to Guo Bot</h2>

				<div class="col-xs-10">
					<input type="text" class="form-control" id="answer" placeholder="Ask me something.">
				</div>

				<div class="col-xs-2">
					<button type="submit" class="btn btn-default" id="ask">Ask!</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="scripts/witapi.js"></script>


</html>